# Virtual env
.venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Data / outputs (tweak if needed)
output/
**/output/
data/   
**/data/
backtesting/artifacts/

# misc stuff
.DS_Store
.env
*.env
.ipynb_checkpoints/
*.csv
temp.py